################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/csharp/AnomalyDetection/obj/Debug
/csharp/AnomalyDetection/bin/Debug
/csharp/packages/Newtonsoft.Json.11.0.2
